:root {
  font-family: "Courier Prime", monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-color: #fff;
  --dark-color: #000;
  --button-bg-color-success: #2ecc71;
  --button-bg-color-danger: #e74c3c;
  --button-bg-color-warning: #f1c40f;
  --button-bg-color-info: #3498db;

  --button-bg-color-light: #4a90e2;
  --button-bg-color-dark: var(--dark-color);

  --text-color: var(--dark-color);
  --background-color: var(--light-color);
  --button-bg-color: var(--dark-color);
  --button-text-color: var(--light-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:not(.button):hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-color-light);
  color: var(--button-text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  transition: box-shadow 0.2s;
  display: inline-block;
  line-height: 1;
}

.button--small {
  font-size: 0.8rem;
  padding: 4px 8px;
}

.button.active {
  background-color: var(--button-bg-color-success);
}

.button:hover {
  box-shadow: var(--button-bg-color-light) 0 0 10px;
  color: var(--button-text-color);
}

.button.active:hover {
  box-shadow: var(--button-bg-color-success) 0 0 10px;
}

.button--danger {
  background-color: var(--button-bg-color-danger);
  color: var(--button-text-color);
}

.button--danger:hover {
  box-shadow: var(--button-bg-color-danger) 0 0 10px;
}

.button--success {
  background-color: var(--button-bg-color-success);
  color: var(--button-text-color);
}

.button--success:hover {
  box-shadow: var(--button-bg-color-success) 0 0 10px;
}
